.container {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

.diversion_block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.pools_section {
  display: grid;
  grid-gap: 1rem;
}

.header {
  display: flex;
  padding: 8px 32px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(223, 223, 223);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 1rem;
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  height: 16px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.loader .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.loader .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.loader .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}

.toast {
  display: flex;
  background-color: whitesmoke;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
}

.loader_content {
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 4px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.loader_content::before {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.loader_pool {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
